<%- include('../layout/header', {title: "Edit Blog", user: user}) %>
<% title = "Edit Blog" %>
<style>
body{ background-color:#cccccc;}
a {font-size: 23px; color: #330033;}
a:hover {color: #6600cc; font-size: 32px;}
h8 { font-size: 15px; color: black;}
</style>

<link rel ="stylesheet" href="/prism.css"/>
<script src="/prism.js"> </script>
<body onload="readData()">
<div id="demo"></br>

<form id= "form" action="/blog/<%- blog.postId%>" method="POST">
<fieldset>
<label for="title" font-size="46px">Title:</label></br>
<input name="title" id="title" type="text" autocomplete="off" style="font-size: 18px; width: 1000px; height: 32px;"/> </br></br>
<label for="body" font-size="46px">Body:</label>
<h8> (You can also user Markdown and click Display/Preview to see the output) </h8></br>
<input name="body" id="body" type="text"  autocomplete="off" style="rows:10000; cols:9; font-size: 18px; width: 1000px; height: 104px;"/> </br></br>
<button type="submit" onclick="save" style= "font-size: 26px; width:250px; height: 35px" >Save changes</button> </br></br>

</form>
  <button id="display-btn" style="font-size: 26px; width: 250px; height: 35px;"> Display/Preview </button></br>
</br> </fieldset> </br>

<script src="/public/bundle.js"></script>
<div id="pane">
</div>
<fieldset>
<a href="/blog/new">Add a new Blog</a>&nbsp&nbsp&nbsp&nbsp
<a href="/blog/">List of Blogs</a>
</fieldset>
<script>

function readData(){
 document.getElementById("title").value = "<%- blog.title.replace(/"/g, "'") %>";
 document.getElementById("body").value  = "<%- blog.body.replace(/"/g, "'") %>";
}

function save(event){

  event.preventDefault();
  var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
    if (xhttp.readyState == 4) {
      alert("I am from if state", xhttp.responseText);
        document.getElementById("demo").innerHTML = xhttp.responseText;
    }
  };

  xhttp.open("POST", "/blog/<%=blog.postId%>/", true);
  xhttp.send(new FormData(document.getElementById('form')));
}

</script>
</body>
</html>
