<style>
body{ background-color:#cccccc;}
a {font-size: 23px; color: #330033;}
a:hover {color: #6600cc; font-size: 32px;}
</style>
<link rel ="stylesheet" href="/prism.css"/>
<script src="/prism.js"> </script>
<title> Blog </title>
<body>
<div id="demo">
<fieldset>

<article>
<%= blog.title %>

</br></br></br>
<script src="/public/bundle.js"></script>
<div id="pane">
<%- blog.body %>
</div>
</article>
</fieldset></br>
<fieldset>
</br> <a href="/blog"> List of Blogs </a>&nbsp&nbsp&nbsp&nbsp
<a href="/blog/<%=blog.postId%>/preview"> Go to talk/comment page </a>
</div>
</fieldset>
</body>

<script>
function addComment(event)
{
	event.preventDefault();
	var xhttp = new XMLHttpRequest();
  	xhttp.onreadystatechange = function() {
    if (xhttp.readyState == 4) {
    	alert("I'm from if state", xhttp.responseText);
        document.getElementById("demo").innerHTML += xhttp.responseText;
    }
  };
  xhttp.open("POST", "/blog/<%=blog.postId%>/add", true);
  xhttp.send();
}

function loadComment() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
  if (xhttp.readyState == 4) {
    	document.getElementById("demo").innerHTML += xhttp.responseText;
    }
  };
  xhttp.open("GET", "/blog/<%=blog.postId%>/preview", true);
  xhttp.send();
}
</script>
